# Imports

In [20]:
## For Dataframes
import pandas as pd

# Csv File Path

In [2]:
Stock_Data_Tesla_URL = 'Tesla_Stock_Data_2016_2017.csv'

# Converting to DataFrame

In [3]:
Tesla_Stock_DF = pd.read_csv(Stock_Data_Tesla_URL)

# NOTE!`

### The Date format is not conventional. It is in format of Year/Month/Day. For change let me know.

# Display

In [5]:
Tesla_Stock_DF.head()

         date   close     volume    open      high     low
0  2017/12/29  311.35  3769504.0  316.18  316.4100  310.00
1  2017/12/28  315.36  4306746.0  311.75  315.8200  309.54
2  2017/12/27  311.64  4705084.0  316.00  317.6800  310.75
3  2017/12/26  317.29  4368699.0  323.83  323.9400  316.58
4  2017/12/22  325.20  4207602.0  329.51  330.9214  324.82

# News Articles on Tesla

In [23]:
from newspaper import Article

ModuleNotFoundError: No module named 'newspaper'